/* GLOBAL */
* {
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	background-image: url(../../public/images/background.jpg);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #000;
	
}

.body-container{
	margin: 0 auto;
	width: 85%;
	height: 100%;
	background-color: #F6F6F6;
}

h1, h2{
	margin-top: 0;
	padding-top: 20px;
}

/* HEADER */


.header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 85%;
	height: 350px;
	background-image: url(../../public/images/header.jpg);
}

.header-nav{
	background-color: #F6F6F6;
	width: 85%;
	margin: 0 auto;
}

ul.header-nav{
	padding-left: 0;
	text-align: center;
	
}



.header-nav li{
	display: inline;
	list-style: none;
	margin: 0 70px;
}

.header-nav ul li{
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	padding: 30px;
	text-transform: uppercase;
	text-transform: bold;
	font-size: 2em;
}
	
.header-nav li a {
	color: #333;
	display: inline-block;
	font-size: 1.2em;
	padding: 15px 0px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
}

.header-nav li a:hover, .header-nav li a:active{
	color: #2EB77F;
}
/* ARTICLE*/

article{
	margin: 0 auto;
	width: 70%;
	background-color: #FFF;
	margin-bottom: 40px;
}

.article .article-container{
	
}

.image-article{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 300px;
	padding-bottom: 20px;
	object-fit: cover;
}

.bloc-article{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.article{
	margin: 0 auto;
	text-align: center;
}

.titre-article{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	padding: 0;
}

.date-article, .author{
	color: #7C7C7C;
}

.text-article, .footer-article, .author, .comments{
	text-align: justify;
}

.text-article{
	padding-top: 20px;
}

/*MENU-BURGER*/
.nav-menu-burger {
	width: 50px;
	height: 50px;
	background-color: white;
	padding: 0.5em 0;
}
.open-menu-burger span{
	display: block;
	border-radius: 2px;
	width: 40px;
	height: 5px;
	background-color: #1BB581;
	margin: 0.5em 0.2em;
}
.open-burger {
	padding-top: 0.2em;
	height: 100%;
	width: 100px;
	background-color: #333;
}
.menu-burger {
	position: absolute;
	z-index: 1;
	display: none;
	width: 100px;
	padding: 0;
	margin: 0;
	background-color: #333;
	list-style-type: none;
}
.menu-burger li {
	padding: 0.5em 1em;
}
.menu-burger li a {
	color: #ccc;
	text-decoration: none;

}
.open-burger {
	background-color: #333;
	height: 50px;
	width: 100px;
	padding: 0.5em 0;
	margin-top: -0.2em;
}
.open-burger span {
	margin: 0.5em 0 0.5em 0.4em;
}


/* FOOTER */

footer {
	width: 85%;
	margin-top: 0;
	padding: 2em;
	font-size: 1.2em;
	background-color: #fff;
	color: #333;
}
footer div {
	width: 33.33%,
}
footer div ul {
	padding-left: 0;
	list-style-type: none;
}
footer div ul li {
	display: inline-block;
	margin-top: -0.8em;
}
footer div ul li a {
	margin: 0 0.5em;
	font-size: 2em;
	color: #2EB77F;
}
footer div ul li a:hover {
	color:#b72e66;

}