* {
	box-sizing: border-box;
}
/*MENU-BURGER*/
.nav-menu-burger {
	width: 50px;
	height: 50px;
	background-color: black;
	padding: 0.2em 0;
}
.open-menu-burger span{
	display: block;
	width: 40px;
	height: 5px;
	background-color: #1BB581;
	margin: 0.5em auto;
}
.menu-burger {
	display: none;
	width: 100px;
	padding: 0;
	margin: 0;
	background-color: black;
	list-style-type: none;
}
.menu-burger li {
	padding: 0.5em 1em;
}
.menu-burger li a {
	color: #ccc;
	text-decoration: none;
}
.open-burger {
	background-color: black;
	height: 50px;
	width: 100px;
	padding: 0.5em 0;
	margin-top: -0.5em;
}
.open-burger span {
	margin: 0.5em 0 0.5em 0.4em;
}